@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0rem;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
}
body:before {
  content: "";
  background: #d4e6fe;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.main {
  display: grid;
  grid-template-columns: auto;
  width: 80vw;
  height: 80vh;
  position: relative;
  gap: 2rem;
  padding: 2rem 6rem;
  align-items: center;
  overflow: scroll;
}
.main:before {
  content: "";
  background: #fdfeff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.header {
  grid-column: 1 / span2;
}
h1 {
  margin-top: 2rem;
  color: #2637c0;
}
input {
  border: none;
}
::placeholder {
  color: #2637c0;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.name,
.email,
.phone {
  border-radius: 1rem;
  padding: 2rem;
}
.name {
  background-color: #e7e9fe;
}
.email,
.phone {
  background-color: #dce1ff;
}
.address,
.message {
  border-radius: 1rem;
  grid-column: 1 / span2;
  padding: 2rem;
}
.address {
  background-color: #c7cdfd;
}
.message {
  background-color: #a5b1fd;
  padding-bottom: 6rem;
}
.submit {
  background-color: #233bf5;
  color: #dbecff;
  justify-content: center;
  border-radius: 3rem;
  grid-column: 1 / span2;
  text-align: center;
  padding: 2rem 5rem;
  width: 15rem;
  justify-self: center;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.submit_message {
  color: #7cdfd0;
  font-weight: bolder;
}
